body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', helvetica;
	
}

#hero {
	position: relative;
	padding: 30px 30px 3px 30px;
	
}

#hero .tagline {
	position: absolute;
	top: 10%;
	text-align: center;
	left: 0;
	right: 0;
	margin: 0 auto;
	
}

#hero .tagline h1 {
	color: #333;
	font-family: 'Oswald', impact;
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 25px;
	position: relative;
	
}

#hero .tagline h1:after {
	content: '';
	display: block;
	border-top: 1px solid black;
	width: 85px;
	bottom: -30px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#hero .imgLiquid {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	max-height: 525px;
	box-shadow: 3px 3px 5px #888888;
}

#hero img {
	width: 100%;
	height: 100%;
	object-fit: contain;	
}

header {
	margin: -10px 0 0 0;
	position: relative;
	width: 100%;
	min-width: 720px;
	color: white;
	padding: 0px 0px 10px 0px;
}

nav ul {
	text-align: center;
	margin: 0;


}

nav ul li {
	display: inline-block;
	list-style-type: none;
	padding: 0px 15px;
	
}

nav ul li a {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.row  {
	clear: both;
	padding-top: 50px;
	
	margin-left: 20px;
	width: 97%;
}

.colfullhor {
	background: #F1F1F3;
	margin: .5%;
	width: 99%;
	min-height: 400px;
	box-shadow: 3px 3px 5px #888888;
}

.colfullhor p {
	color: #333;
	line-height: 200%;
	letter-spacing: 1px;
	margin-top: 20px;
	text-indent: 10px;
	padding-left: 20px;

}


.colblank {
	text-transform: uppercase;
	text-align: right;
	background: #1E1C19;
	color: #F1F1F3;
	padding: .5%;
	margin: .5%;
	float: left;
	width: 31%;
	min-height: 400px;
	box-shadow: 3px 3px 5px #888888;
}

.colfullhor .title {
	margin: 0;
	padding: 0;
	//padding-top: 50px;
	text-transform: uppercase;
	text-align: center;
	background: #1E1C19;
	color: #F1F1F3;
	min-height: 120px;
}

.title h1 {
	font-family: 'Oswald', impact;
	padding-top: 50px;
	margin: 0;
	font-size: 30px;
	letter-spacing: 5px;
	
	
}

.colblank h1 {
	font-family: 'Oswald', impact;
	padding-top: 20px;
	padding-right: 10px;
	font-size: 30px;
	letter-spacing: 5px;
}

.colblank img {
	object-fit: contain;
	height: 100%;
	width: 100%;
	min-height: 300px;
	margin: 0 auto;
	overflow: hidden;
	
}

.coltext {
	color: #333;
	background: #F1F1F3;
	padding: .5%;
	margin: .5%;
	float: left;
	width: 31%;
	min-height: 400px;
	box-shadow: 3px 3px 5px #888888;
}

.coltext p {
	color: #333;
	line-height: 200%;
	letter-spacing: 1px;
	margin-top: 70px;
	text-indent: 10px;
	
}

.coltext ul {
	line-height: 150%;
	
}


footer {
	position: relative;
	text-align: center;
	color: #F1F1F3;
	margin-top: 50px;
	clear: both;
	background: #1E1C19;
	min-height: 200px;
	box-shadow: 3px 3px 5px #888888;
	margin-left: 26px;
	width: 96.2%;
	margin-bottom: 20px;
}

.social {
	padding-top: 20px;
}

.bottomnav  ul {
	text-align: center;
	margin: 0;
}

.bottomnav ul li {
	display: inline-block;
	list-style-type: none;
	padding: 10px;
	
}

.bottomnav ul li a {	
	font-size: 14px;
	font-weight: bold;
	color: #F1F1F3;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	
}

.copyright {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: 10px;
}