body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	background-color: #DFDCE3;
}

.maincontainer {
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
	box-shadow: 3px 0px 2px #888888, -2px 0px 1px #888888;
	padding: 0;

}

header {
	z-index: 999;
	position: fixed;
	margin: 0;
	background-color: #F7B733;
	width: 100%;
	max-width: 1440px;
	min-height: 60px;
	box-shadow: 0px 1px 10px #888888;
}

header h1{
	margin: 0;
	padding-left: 10px;
	padding-top: 10px;
	display: inline-block;
	white-space: nowrap;
	color: #FC4A1A;
	font-size: 24px;
}


nav {
	float: right;
	display: inline-block;
	padding-top: 10px;
	text-align: right;
	margin-right: 10px;
}



nav ul {
	white-space: nowrap;
	margin: 0;
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	padding: 5px 10px;
}

nav ul li a {
	font-size: 14px;
	font-weight: bold;
	color: #FC4A1A;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

#hero {
	margin-bottom: 0;
	padding-bottom: 0;
	position: relative;
	padding-top: 50px;
	width: 100%;

	background: url("../img/gym.jpg") no-repeat 50% 50% fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;

}

#hero .imgLiquid{
	display: inline-block;
	margin-left: 10%;
	margin-bottom: 0;
	padding-bottom: 0;
}

#hero img{
	margin-bottom: 0;
	padding-bottom: 0;
	max-height: 550px;
	object-fit: contain;
	vertical-align: bottom;
}


#hero .tagline {
	position: absolute;
	display: inline-block;
	right: 7%;
	top: 75px;

}

#hero h1 {
	text-shadow: 1px 1px 10px #888888;
	color:  white;
	font-size: 50px;
	letter-spacing: 3px;
	font-weight: 900;
	font-style: italic;

}

#hero .videobox {
	height: 250px;
	width: 400px;
	background-color: lightgray;
	box-shadow: 1px 1px 10px #888888;
}

#hero h2 {
	text-shadow: 1px 1px 1px #888888;
	margin-left: 10px;
	color: white;
	letter-spacing: 1px;
	display: inline-block;
	padding: 1px 15px 1px 15px;
	border: 3px solid #FC4A1A;
	box-shadow: 1px 1px 10px #888888;
	border-radius: 10px;
	background-color: #FC4A1A;
}

.sectioncontainer {
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #4ABDAC;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 30px;

}

.sectioncontainer h1 {
	color: white;
	font-size: 35px;
	letter-spacing: 5px;
}

.sectioncontainer h1:after {
	content: '...';
	display: block;
	width: 85px;

	position: absolute;
	left: 0;
	right: 0;
	top: 45px;
	margin: 0 auto;
}

.sectioncontainer2 {
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #f7b733;
	padding-top: 20px;
	padding-bottom: 30px;
}

.sectioncontainer2 h1 {
	color: #FC4A1A;
	font-size: 35px;
	letter-spacing: 5px;
}

.sectioncontainer2 h1:after {
	content: '...';
	display: block;
	width: 85px;

	position: absolute;
	left: 0;
	right: 0;
	top: 45px;
	margin: 0 auto;
}

.sectioncontainer2 h2 {
	color: #FC4A1A;
}

.row {
	clear: both;
	width: 100%;

	padding-top: 1px;
	position: relative;
}


.col {
	vertical-align: top;
	display: inline-block;
	max-width:30%;
	min-width: 300px;
	color: white;

}

.col img {
	border-radius: 10px;
	max-width: 250px;
	max-height: 175px;
	box-shadow: 2px 2px 10px #888888;
}

.col2 {
	vertical-align: top;
	text-align: left;
	display: inline-block;
	max-width: 60%;
	min-width: 300px;
	padding-right: 5px;
	color: white;
}

.col2 img {
	margin-left: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px #888888;
}

.littlebox {
	color: #FC4A1A;
	display: inline-block;
	max-width: 18%;
	vertical-align: top;
	min-width: 150px;
}

.littlebox img {
	-webkit-filter: drop-shadow(5px 5px 5px #888888) invert();
	filter: drop-shadow(5px 5px 5px #888888) invert();

}

.littlebox p {
	max-width: 97%;
}

.blogbox {
	text-align: left;
	padding: 5px;

}

.blogbox h4 {
	display: inline-block;
	margin: 0;
}
.blogbox h5 {
	display: inline-block;
	margin: 0;
}

footer {
	color: #FC4A1A;
	position: relative;
	background-color: #f7b733;
	text-align: center;
	margin: 0 auto;
	clear: both;
	padding-top: 20px;
	padding-bottom: 5px;
	width: 100%;
	white-space: nowrap;


}

footer .contact {
	float: left;
	text-align: left;
	margin-left: 20px;
	bottom: 10px;
	display: inline-block;
}

.contact h3 {
	margin: 0;
	padding-bottom: 2px;
}

footer .social {
	padding: 10px;
	border-radius: 10px;

	bottom: 10px;
	display: inline-block;

}

footer img {
	-webkit-filter: drop-shadow(1px 1px 5px #888888);
	filter: drop-shadow(5px 5px 5px #888888);
}

footer .copyright {
	float: right;
	margin-right: 10px;
	bottom: 10px;
	display: inline-block;
	text-align: left;
}

.clear {
	position: relative;
	display: block;
	height: 1px;
	clear: both;
	width: 100%;
}
